body{
    padding-left: 20px;
    padding-right: 20px;
}

/*
#forNewItem{
    margin-left: auto;
    margin-right: auto;
    display:block;
}
*/

.visibleForm{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 10px; 
    margin-bottom: 10px;
    background-color: #eeeeee;
}

.notVisibleForm{
    display:none;
}


